<form action="http://localhost:5000/login" method="get">
    <label for="fname">Inspirational Message:</label>
    <input type="text" id="fname" name="fname"><br><br>
    <input type="submit" value="Submit">
  </form>

  <h1>The importance of your inspirational message</h1>
  <br>
  <p>Your inspirational message adds light and happiness to my day and, of course, inspiration. It gives me the fuel and motivation to keep going with my work even if I didn't feel like I could. It shows me that people like you cared enough about me to take the time to write me n inspirational message. So I would like to thank you from the bottom of my heart for your beautiful message. Have a great day!</p>
  <br>
  <p>Yours truly</p>
  <p>-- Isabella</p>
<style>
body{
  background-color: pink;
  text-align:center;
  color:darkblue;
}</style>
